

{% extends 'core/base.html' %}

{% block content %}

<h1>Your Cart</h1>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if cart.cartitem_set.all %}
        <ul>
            {% for item in cart.cartitem_set.all %}
            <img src="{{ item.product.image.url }}">
                <li>
                    Назва: <a href="{% url 'item:detail' item.product.id %}">{{ item.product.name }}</a> <br>
                    Кількість: {{ item.quantity }} <br>
                    Ціна: {{ item.product.price }} грн <br>
                    Сума: {{ item.get_total_item_cost|floatformat:2 }} грн

                    <!-- Перевірка кількості товару у кошику -->
                    {% if item.quantity > item.product.quantity %}
                        <p style="color: red;">Увага! Кількість товару перевищує доступний залишок.</p>
                    {% endif %}

                    <form action="{% url 'cart:cart_remove' item.product.id %}" method="post" >
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>Загальна вартість: {{ cart.get_total_cost }} грн</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Замовити">
        </form>

    {% else %}
        <p>Your cart is empty</p>
    {% endif %}
</div>

{% endblock %}
