{% extends 'core/base.html' %}

{% block title%} Головна сторінка {% endblock %}
<!-- Головна сторінка -->
{% block content %}

 <div class="Front-page-div">
    <h2 class ="Front-page-div_h2">Нові товари</h2>

    <div class="Front-page-div-item">
        <!--Йду через предмети-->
        {% for item in items %} 
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-image">
                    </div>

                    <div class="down-item">
                        <h2 class="text-size">{{ item.name }}</h2>
                        <p class="text-size">Ціна: {{item.price}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
 </div>
{% endblock %}
