{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div>
        <h1>Увійти</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
    
            <div>
                <label for="id_username">Ім'я користувача</label><br>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div>
                <label for="id_password1">Пароль</label><br>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            <button type="submit">Зареєструватися</button>
        </form>
    </div>
{% endblock %}