{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div>
        <h1>Зареєструватися</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
    
            <div>
                <label for="id_username">Ім'я користувача</label><br>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div>
                <label for="id_first_name">Ім'я</label><br>
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
            <div>
                <label for="id_last_name">Прізвище</label><br>
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
            <div>
                <label for="id_patronymic">По-батькові</label><br>
                {{ form.patronymic.errors }}
                {{ form.patronymic }}
            </div>
            <div>
                <label for="id_email">Email</label><br>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div>
                <label for="id_password1">Пароль</label><br>
                {{ form.password1.errors }}
                {{ form.password1 }}
            </div>
            <div>
                <label for="id_password2">Підтвердження паролю</label><br>
                {{ form.password2.errors }}
                {{ form.password2 }}
            </div>
            <button type="submit">Зареєструватися</button>
        </form>
    </div>
{% endblock %}