{% extends 'core/admin_page.html' %}

{% block content %}
<h1>Список користувачів</h1>

<table>
    <thead>
        <tr>
            <th>Ім'я користувача</th>
            <th>Електронна пошта</th>
            <th>По-батькові</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.patronymic }}</td>
            <td> 
                <form action="{% url 'core:delete_user' user.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Видалити</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
