:root{
    --BORDER-COLOR:gray;
    --BORDER-SIZE:2px;

    --TEXT-SIZE:1.5rem;

    --PADDING:1rem;

    --BG-COLOR: rgb(31 41 55);
    --TEXT-COLOR: whitesmoke;
    
}

*{
    margin: 0;
}


.reset{
   all:unset;
   list-style: none;
}

.text-size{
    font-size: var(--TEXT-SIZE);
}

.navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--BORDER-COLOR);
    border-bottom:var(--BORDER-SIZE) solid;
    padding: var(--PADDING);
    flex-wrap: wrap;
}



.navigate-div{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.navigate-div-item{
    padding: var(--PADDING);
}

.navigate-div-a_sign-up{
    
    background-color: rgb(2, 48, 32);
    color:var(--TEXT-COLOR);
    border-radius: 1.2rem;
}

.navigate-div-a_sign-up:hover{
    background-color: rgb(2, 32, 22);
}

.navigate-div-a_log-in{
    background-color: rgb(119, 131, 126);
    color:var(--TEXT-COLOR);
    border-radius: 1.2rem;
}

.navigate-div-a_log-in:hover{
    background-color: rgb(90, 95, 93);
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--BG-COLOR);
}
.footer-div_about{
    flex:2;
    padding-left: var(--PADDING);
    padding-bottom: 1rem;
}

.footer-div-h3{
    color: var(--TEXT-COLOR);
    padding-top: var(--PADDING);
    padding-bottom: 1rem;
}

.footer-div_links{
    flex:1;
    padding-bottom: 1rem;
}

.footer-div_links-ul{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-div_links-ul li{
    font-size: 1.2rem;
    padding-bottom: 10px;
    color: green;
}

.footer-div_links-ul li:hover{
    color: rgb(0, 98, 0);

}

.Front-page-div{
    margin-bottom: 1.5rem; 
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
  padding-top: 3rem; 
  padding-bottom: 3rem; 
  background-color: #f0f4f8; 
  border-radius: 0.75rem; 
}

.Front-page-div_h2{
    margin-bottom: 3rem; 
    font-size: 1.5rem; 
    text-align: center;}

.rounded-image{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 10rem;
}

.down-item{
    padding: 1.5rem; 
  /* background-color: whitesmoke;  */
  border-bottom-left-radius: 0.75rem; 

}
.body-stle-main{
    background-color: #9E9E9E;
}
.ittem-container{
    margin-bottom: 4%;
    width: 160px;
    background-color: #ffffff;
    transition: border 0.3s ease, background-color 0.3s ease;
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    border-radius: 2rem;

} 
.ittem-container:hover{
    outline: 2px solid #787878;
    background-color: #cccc;
}

.Front-page-div-item{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    
    /* justify-content: center; */
}
.ittem-a{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.ittem-info{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    
}
@media (max-width:400px){
    /* .ittem-container{
        margin-bottom: 4%;
    } */
    .Front-page-div-item{
        justify-content: center;
    }
}